.card-container{
    border: 1px solid black;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}
.card-container > h3{
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}
.card-container > p{
    margin-left: 10px;
    margin: 5px;
    font-weight: bold;
}